# multimedia samples
*.jpg
*.mp4

# icons
icons/

# resources
resources/

# settings
settings/
.vscode/

# pycache
*pycache*

# env
.env/

# build, src, dist and other output directories
build/
src/
dist/
output/

# freeze and installer
freeze.sh
target/

# keep fbs pro installation file offline
fbs_pro-1.1.4.tar.gz