# multimedia samples
*.jpg
*.mp4

# icons
icons/

# resources
resources/

# settings
settings/
.vscode/

# pycache
*pycache*

# env
.env/

# build, dist and other output directories
build/
dist/
output/

# freeze and installer
freeze.sh
target/